*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 100vh;
    background: rgb(255, 255, 255);
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0,0.1),
               0 32px 64px -45px rgb(0, 0, 0,0.5);
}
#img{
    object-fit: cover;
    border-radius: 50%;
}
.user{
    /* padding: 25px 30px; */

}
.user header,
.user-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.user header .content,
.user-list a .content{
    display: flex;
    align-items: center;
}
.user header .content #img{
    height: 50px;
    width: 50px;
}
:is(.user, .user-list) .details{
    color: #000;
    margin-left: 15px;
} 
:is(.user, .user-list) .details span{
    font-size: 18px;
    font-weight: 500;

}
.user header .logout{
    color: #fff;
    font-size: 10px;
    padding: 10px 12px;
    background: #333;
    border-radius: 10px;
}
.user .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    
}

.user .search input{
    position: absolute;
    height: 47px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.user .search input.active{
    opacity: 1;
    pointer-events: auto ;
}
.user .search button{
    width: 47px;
    height:47px;
    border: none;
    outline:none;
    color: #fff;
    background: #333;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}

.user-list{
    max-height: 350px;
    overflow-y: auto;

}
.user-list::-webkit-scrollbar{
    width:0px;
}
.user-list a{
    margin-bottom:15px ;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #9b969664;
}
.user-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.user-list a .content #img{
    height: 40px;
    width: 40px;

}
.user-list a .content p{
    color: #67676a;
}
.user-list a .status-dot{
    font-size: 17px;
    color: #32a166;
}
.user-list a .status-dot.offline{
    color: #6c6666;
}

/* chat area  */

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header .back{
    font-size: 17px;
    color: rgb(25, 23, 23);
}
.chat-area header #img{
    height: 45px;
    width:45px;
    margin: 0 15px;
}
.chat-area header span{
    font-size: 17px;
    font-weight: 500;

}
.chat-box{
    height: 500px;
    overflow-y: auto;
    background: #67676a44;
    padding: 10px 30px 20px 30px;


}
.chat-box::-webkit-scrollbar{
    width: 0;
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding :8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 15%),
                0 16px 16px -16px rgb(0 0 0 / 30%);
}
.chat-box .outgoing{
    display: flex;

}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background: #333;
    color:#fff;
    border-radius: 18px 18px 0 18px;

}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming #img{
    height: 30px;
    width: 30px;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;

}
.chat-area .typing{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing input{
    height:45px;
    width:calc(100% - 50px );
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;

}
.typing button{
    width: 45px;
    border: none;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
